:root {
  --main-color-dark: #c7c6bb;
  --main-color: #ffffff;
  --secondary-color: #c7c6bb;
  --background-color: white;
  --logo-color-2: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(43,72,152,1) 5%, rgba(43,72,152,1) 95%, rgba(255,255,255,1) 100%);
}

@font-face {
  font-family: Raleway;
  src: url("Raleway-400.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("Raleway-500.ttf");
  font-weight: 500;
}


html, body {
  height: 100%;
}

.header {
  height: 120px;
  background-image: var(--background-color);
}

.body {
  min-height: calc(100% - 240px);
  background: var(--logo-color-2);
}

.footer {
  height: 120px;
  background: var(--background-color);
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}


.text-left {
  text-align: left;
}

