.header-image {
  height: 75px;
}

.header-image img {
  max-height: 90px;
  margin-top: 10px;
}

.header-search input {
  width: calc(100% - 50px);
  padding: 10px;
  letter-spacing: 0.03em;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.header-search img {
  padding: 5px;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 400;
  margin-top: 18px;
  color: #2B4898;
}

.banner-top-space {
  padding-top: 60px;
}

@media screen and (min-width: 40em) {
  .header-title {
    margin-top: 40px;
  }

  .banner-top-space {
    padding-top: 120px;
  }
}

.home-banner-title {
  font-family: Raleway;
  font-weight: 500;
  color: var(--main-color);
  text-align: justify;
  text-justify: center;
  font-size: 25px;
}

.home-banner-text {
  font-family: Raleway;
  margin-top: 30px;
  color: var(--main-color);
  text-align: justify;
  text-justify: center;
  font-size: 18px;
}



.bottom-space {
  padding-bottom: 20px;
}

.small-top-space {
  padding-top: 10px;
}

.top-space {
  padding-top: 20px;
}

.top-space-double {
  padding-top: 40px;
}

.no-format {
  background:none;
}

.full-size {
  display: inline-block;
  width: 100%;
}

select {
  width: auto;
}

.input-data-container {
  display: inline;
  white-space: nowrap;
  height: 50px;
  display: block;

}

.input-data-container.padding{
  padding: 10px;
  color: white;
}

.input-data-container input, .input-data-container select{
  border-radius: 5px;
  border: 1px solid #03206d;;
  padding: 10px;
  margin-left: 5px;
  min-width: 150px;
  width: 100%;
}

.input-data-container input[type=button],.input-data-container input[type=submit] {
  cursor: pointer;
  background: #1a316f;
  color: white;
}

.input-data-container input[type=button]:hover {
  cursor: pointer;
  background: #03206d;;
  border: 1px solid #001755;;
}

.input-data-container input[type=submit]:hover {
  cursor: pointer;
  background: #03206d;;
  border: 1px solid #001755;;
}

.input-data-container input[type=button]:active {
  background: #02156d;;
}

.input-data-container input[type=submit]:active {
  background: #02156d;;
}

.iframe {
  border: 1px solid lightgray;
  padding: 10px;
  -webkit-user-select: all;
  -moz-user-select: all;
  display: inline-block;
}

.home-option-menu  {
  display: block;
  border: 1px solid #021a5a;
  background: #1a316f;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.home-option-menu:hover  {
  border: 1px solid #03206d;
  background: #183688;
}

.home-option-menu:active  {
  border: 1px solid #001755;;
  background: #19337A;
}

.banner-image {
  padding-bottom: 50px;
}

.main-title {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  color: white;
}

.special-title {
  font-size: 19px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
}