.header-image {
  height: 75px;
}

.header-image img {
  max-height: 90px;
  margin-top: 10px;
}

.header-search input {
  width: calc(100% - 50px);
  padding: 10px;
  letter-spacing: 0.03em;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.header-search img {
  padding: 5px;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 400;
  margin-top: 18px;
  color: #2B4898;
}

.banner-top-space {
  padding-top: 60px;
}

.home-banner-title {
  font-family: Raleway;
  font-weight: 500;
  color: var(--main-color);
  text-justify: center;
  font-size: 25px;
  padding-top: 0 19px;
}

.home-banner-text {
  font-family: Raleway;
  margin-top: 30px;
  color: var(--main-color);
  font-size: 18px;
}

@media screen and (max-width: 40em) {
  .top-space-on-small {
    padding-top: 20px;
  }

  .text-center-on-small {
    text-align: center;
  }

  .hide-on-small {
    display: none;
  }
}

.hide {
  display: none;
}

@media screen and (min-width: 40em) {
  .header-title {
    margin-top: 40px;
  }

  .banner-top-space {
    padding-top: 120px;
  }

  .home-banner-title {
    text-align: justify;
  }

  .home-banner-text {
    text-align: justify;
    text-justify: center;
  }

}


.bottom-space {
  padding-bottom: 20px;
}

.small-top-space {
  padding-top: 10px;
}

.top-space {
  padding-top: 20px;
}

.top-space-double {
  padding-top: 40px;
}

.no-format {
  background:none;
}

.full-size {
  display: inline-block;
  width: 100%;
}

select {
  width: auto;
}

.input-data-container {
  display: inline;
  white-space: nowrap;
  height: 50px;
  display: block;

}

.input-data-container.padding{
  padding: 10px;
  color: white;
}

.input-data-container input, .input-data-container select{
  border-radius: 5px;
  border: 1px solid #03206d;;
  padding: 10px;
  margin-left: 5px;
  min-width: 150px;
  width: 100%;
}

.input-data-container input[type=button],.input-data-container input[type=submit] {
  cursor: pointer;
  background: #1a316f;
  color: white;
}

.input-data-container input[type=button]:hover {
  cursor: pointer;
  background: #03206d;;
  border: 1px solid #001755;;
}

.input-data-container input[type=submit]:hover {
  cursor: pointer;
  background: #03206d;;
  border: 1px solid #001755;;
}

.input-data-container input[type=button]:active {
  background: #02156d;;
}

.input-data-container input[type=submit]:active {
  background: #02156d;;
}

.iframe {
  border: 1px solid lightgray;
  padding: 10px;
  -webkit-user-select: all;
  -moz-user-select: all;
  display: inline-block;
}

.home-option-menu  {
  display: block;
  border: 1px solid #021a5a;
  background: #1a316f;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: white;
  user-select: none;
}

.home-option-menu:hover  {
  border: 1px solid #03206d;
  background: #183688;
}

.home-option-menu:active  {
  border: 1px solid #001755;;
  background: #19337A;
}

.banner-image {
  padding-bottom: 50px;
}

.main-title {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  color: white;
}

.main-title-admin {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  color: #333;
}

.main-title-admin .item {
  border: 1px solid #000;
  background: #1a2b5b;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: white;
}


.main-title-admin .item:hover {
  background: #19337c;
}

.main-title-admin .item:active {
  background: #183588;
}

.main-title-admin .item.selected {
  background: #2b4898;
  border: 2px solid black;
}

.special-title {
  font-size: 19px;
  font-family: Raleway;
  font-weight: 400;
  color: white;
}

.user-list {
  color: white;
}

.user-list-title {
  color: white;
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

.action-item, .action-item {
  text-decoration: none !important;
  border: 1px solid black;
  padding: 5px;
  background: #1a2b5b;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: white;
}

.action-item:hover {
  background: #00000033;
}

.action-item:active {
  background: #00000055;
}
.action-item.close {
  background: #FF0000;
}

.action-item.close:hover {
  background: #EE0000;
}

.action-item.close:active {
  background: #DD0000;
}

.action-item.open {
  background: #008000;
}

.action-item.open:hover {
  background: #009000;
}

.action-item.open:active {
  background: #00A000;
}

.microsize {
  min-width: 1px;
  min-height: 1px;
  height: 1px;
  width: 1px;
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  z-index: -1;
  color: transparent;
  background-color: transparent;
  background: transparent;
}